Repository tsharon-byte/28_mf_teamwork_01: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, test

lint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier -w {staged_files}

test:
  run: yarn test

ssr.config fixed
  .eslintrc.js
  packages/client/ssr.config.ts
  packages/client/ssr.tsx
Due: lint, prettier

state string replacement added
  packages/server/server.ts
Due: lint, prettier

Настроена серверная инфрастуктура, проект завернут в Docker, подключена БД Postgres, настроена связь по средствам ORM Sequelize
  .env.sample
  Dockerfile.server
  README.md
  docker-compose.yml
  package.json
  packages/server/db.ts
  packages/server/models/user.ts
  packages/server/package.json
  packages/server/server.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lint, prettier

Исправил версию и зависимость
  docker-compose.yml
Due: none

Поправил добавление env в папку server
  init.js
Due: none

Добавил переменную хоста БД
  .env.sample
  docker-compose.yml
Due: none

Добавил ожидание БД для сервера с помощью wait-for-it
  Dockerfile.server
  docker-compose.yml
Due: none

Заменил порт на переменную
  docker-compose.yml
Due: none

added modified files
  packages/server/api/v1/controllers/comment.ts
  packages/server/api/v1/controllers/index.ts
  packages/server/api/v1/controllers/topic.ts
  packages/server/api/v1/core/controller/index.ts
  packages/server/api/v1/core/filterset/index.ts
  packages/server/api/v1/core/validator/index.ts
  packages/server/api/v1/core/viewset/decorators/catch-error.ts
  packages/server/api/v1/core/viewset/decorators/index.ts
  packages/server/api/v1/core/viewset/index.ts
  packages/server/api/v1/filtersets/comment.ts
  packages/server/api/v1/filtersets/index.ts
  packages/server/api/v1/filtersets/topic.ts
  packages/server/api/v1/models/comment.ts
  packages/server/api/v1/models/index.ts
  packages/server/api/v1/models/topic.ts
  packages/server/api/v1/routers/index.ts
  packages/server/api/v1/swagger/config.ts
  packages/server/api/v1/swagger/index.ts
  packages/server/api/v1/tests/comment.test.ts
  packages/server/api/v1/tests/helpers/index.ts
  packages/server/api/v1/tests/helpers/sequelize.ts
  packages/server/api/v1/tests/helpers/test-auth-middleware.ts
  packages/server/api/v1/tests/topic.test.ts
  packages/server/api/v1/types/comment.ts
  packages/server/api/v1/types/topic.ts
  packages/server/api/v1/validators/comment.ts
  packages/server/api/v1/validators/index.ts
  packages/server/api/v1/validators/topic.ts
  packages/server/api/v1/viewsets/comment.ts
  packages/server/api/v1/viewsets/index.ts
  packages/server/api/v1/viewsets/topic.ts
  packages/server/db.ts
  packages/server/middlewares/auth-middleware.ts
  packages/server/middlewares/index.ts
  packages/server/types/user.d.ts
Due: lint, prettier, test

28-52: Добавлены emoji
  packages/client/package.json
  packages/client/src/components/title/styles.module.css
  packages/client/src/components/topic-components/TopicCommentMenu/TopicCommentMenu.tsx
  packages/client/src/components/topic-components/TopicCommentMenu/styles.module.css
  packages/client/src/components/topic-components/topic-comment-item/index.tsx
  packages/client/src/constants/urls.ts
  packages/client/src/hooks/index.ts
  packages/client/src/hooks/use-emoji/index.ts
  packages/client/src/store/index.ts
  packages/client/src/store/slices/emoji-slice/index.ts
  packages/client/src/store/slices/emoji-slice/selectors/emoji-selector/index.ts
  packages/client/src/store/slices/emoji-slice/selectors/index.ts
  packages/client/src/store/slices/emoji-slice/thunks/get-emoji-list-thunk/index.ts
  packages/client/src/store/slices/emoji-slice/thunks/index.ts
  packages/client/src/store/slices/emoji-slice/types.ts
  packages/client/src/utils/http-transport.ts
  packages/server/controllers/emoji.ts
  packages/server/db.ts
  packages/server/models/Emoji.ts
  packages/server/package.json
  packages/server/routes/emojiRoute.ts
  packages/server/server.ts
  yarn.lock
Due: lint, prettier

28-52: Добавлены emoji, комментарии после первого ревью
  packages/client/src/store/slices/emoji-slice/types.ts
Due: lint, prettier

fixed build errors
  packages/server/api/v1/swagger/config.ts
  packages/server/tsconfig.json
  packages/server/types/express-request/index.d.ts
  yarn.lock
Due: lint, prettier

fixed tsconfig
  .env.sample
  packages/server/api/v1/tests/helpers/sequelize.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/tsconfig.json
  yarn.lock
Due: lint, prettier

fixed docker-compose for create testing db
  .env.sample
  create_test_db.sh
  docker-compose.yml
  packages/server/api/v1/tests/helpers/sequelize.ts
Due: lint, prettier

fixed github checks
  .github/workflows/checks.yml
  packages/server/api/v1/tests/helpers/sequelize.ts
Due: lint, prettier

fixed github checks
  .github/workflows/checks.yml
Due: none

fixed tests sequilize settings
  packages/server/api/v1/tests/helpers/sequelize.ts
Due: lint, prettier

removed duplicate call dbConnect
  packages/server/server.ts
Due: lint, prettier

theme change added
  packages/client/index.html
  packages/client/jest.config.js
  packages/client/src/components/app/index.tsx
  packages/client/src/components/sentence-button/index.tsx
  packages/client/src/components/topic-components/topic-comment-list/index.tsx
  packages/client/src/components/topic-components/topic-comment-list/types.ts
  packages/client/src/constants/urls.ts
  packages/client/src/layouts/content-layout/index.tsx
  packages/client/src/layouts/content-layout/types.ts
  packages/client/src/layouts/page-layout/index.tsx
  packages/client/src/layouts/page-layout/types.ts
  packages/client/src/pages/forum-topic/index.tsx
  packages/client/src/pages/forum/index.tsx
  packages/client/src/pages/home/index.tsx
  packages/client/src/pages/home/styles.module.css
  packages/client/src/pages/leaderboard/index.tsx
  packages/client/src/pages/login/index.tsx
  packages/client/src/pages/login/styles.module.css
  packages/client/src/pages/registration/index.tsx
  packages/client/src/store/slices/user-slice/index.ts
  packages/client/src/store/slices/user-slice/thunks/change-theme-thunk/index.ts
  packages/client/src/store/slices/user-slice/thunks/index.ts
  packages/client/src/store/slices/user-slice/thunks/retrieve-theme-thunk/index.ts
  packages/client/src/store/slices/user-slice/types.ts
  packages/client/src/themes/dark-theme.ts
  packages/client/src/themes/index.ts
  packages/client/src/themes/theme.ts
  packages/server/db.ts
  packages/server/models/theme.ts
  packages/server/server.ts
  packages/server/ssr/entry.server.tsx
  packages/server/tsconfig.json
Due: lint, prettier

fixed bugs
  packages/server/api/v1/controllers/comment.ts
  packages/server/api/v1/controllers/topic.ts
  packages/server/api/v1/core/controller/index.ts
  packages/server/api/v1/core/viewset/decorators/catch-error.ts
  packages/server/api/v1/core/viewset/index.ts
  packages/server/api/v1/swagger/config.ts
  packages/server/api/v1/tests/comment.test.ts
  packages/server/api/v1/tests/topic.test.ts
  packages/server/api/v1/validators/comment.ts
  packages/server/api/v1/validators/topic.ts
  packages/server/api/v1/viewsets/comment.ts
  packages/server/api/v1/viewsets/topic.ts
  packages/server/constants/status.ts
  packages/server/middlewares/auth-middleware.ts
  packages/server/server.ts
Due: lint, prettier, test

Просмотр всех топиков, создание нового и написание комментариев подключено к нашему API и записывается в БД
  packages/client/.env.development
  packages/client/package.json
  packages/client/src/components/forum-components/comments-reply-modal/index.tsx
  packages/client/src/components/forum-components/create-topic-modal/index.tsx
  packages/client/src/components/forum-components/create-topic-modal/types.ts
  packages/client/src/components/forum-components/topic-item/index.tsx
  packages/client/src/components/topic-components/topic-comment-item/index.tsx
  packages/client/src/components/topic-components/topic-comment-item/styles.module.css
  packages/client/src/components/topic-components/topic-comment-item/types.ts
  packages/client/src/components/topic-components/topic-comment-list/index.tsx
  packages/client/src/components/topic-components/topic-comment-list/styles.module.css
  packages/client/src/components/topic-components/topic-comment-list/types.ts
  packages/client/src/components/topic-components/topic-text-field/types.ts
  packages/client/src/constants/urls.ts
  packages/client/src/hooks/use-comments/index.ts
  packages/client/src/pages/forum-topic/index.tsx
  packages/client/src/pages/forum/index.tsx
  packages/client/src/store/index.ts
  packages/client/src/store/slices/comments-slice/index.ts
  packages/client/src/store/slices/comments-slice/selectors/comments-selector/index.ts
  packages/client/src/store/slices/comments-slice/thunks/create-comments-thunk/index.ts
  packages/client/src/store/slices/comments-slice/thunks/get-comments-by-id-thunk/index.ts
  packages/client/src/store/slices/comments-slice/thunks/index.ts
  packages/client/src/store/slices/comments-slice/types.ts
  packages/client/src/store/slices/forum-slice/index.ts
  packages/client/src/store/slices/forum-slice/thunks/get-chat-list-thunk/index.ts
  packages/client/src/store/slices/index.ts
  packages/client/src/store/slices/user-slice/index.ts
  packages/client/src/store/slices/user-slice/thunks/get-user-thunk/index.ts
  packages/client/src/store/slices/user-slice/thunks/index.ts
  packages/client/src/store/slices/user-slice/types.ts
  packages/client/src/utils/constants.ts
  packages/client/src/utils/http-transport.ts
  yarn.lock
Due: lint, prettier

Просмотр всех топиков, создание нового и написание комментариев подключено к нашему API и записывается в БД
  packages/client/src/components/topic-components/topic-comment-list/styles.module.css
Due: prettier

fixed bugs
  packages/server/api/v1/core/viewset/index.ts
  packages/server/api/v1/tests/comment.test.ts
  packages/server/api/v1/tests/topic.test.ts
  packages/server/middlewares/auth-middleware.ts
  packages/server/server.ts
Due: lint, prettier, test

Просмотр всех топиков, создание нового и написание комментариев подключено к нашему API и записывается в БД
  packages/client/src/components/topic-components/topic-comment-item/index.tsx
Due: lint, prettier

changed reducers and server
  packages/client/src/layouts/page-layout/types.ts
  packages/client/src/store/slices/user-slice/index.ts
  packages/client/src/store/slices/user-slice/thunks/index.ts
  packages/server/db.ts
  packages/server/server.ts
Due: lint, prettier

theme model changed
  packages/client/src/constants/urls.ts
  packages/client/src/store/slices/user-slice/thunks/change-theme-thunk/index.ts
  packages/client/src/store/slices/user-slice/thunks/retrieve-theme-thunk/index.ts
  packages/server/db.ts
  packages/server/models/theme.ts
  packages/server/server.ts
Due: lint, prettier

error interface fixed
  packages/client/src/store/slices/user-slice/types.ts
Due: lint, prettier

theme model and query fixed
  packages/server/db.ts
  packages/server/server.ts
Due: lint, prettier

Спринты 7-8: Подготовка Readme файла к командному зачету
  README.md
  docs/MEMORYLEAKS.md
  docs/scenario.md
  packages/server/server.ts
Due: lint, prettier

Исрпавлены типы и маленькие баги
  packages/client/.env.production
  packages/client/src/components/forum-components/topic-item/types.ts
  packages/client/src/components/topic-components/topic-comment-item/styles.module.css
  packages/client/src/components/topic-components/topic-text-field/index.tsx
  packages/client/src/components/topic-components/topic-text-field/types.ts
  packages/client/src/hooks/use-chats/index.ts
  packages/client/src/pages/forum-topic/index.tsx
  packages/client/src/store/slices/emoji-slice/thunks/get-emoji-list-thunk/index.ts
  packages/server/server.ts
  packages/server/ssr/store.ts
Due: lint, prettier

theme model, controller and route fixed
  packages/client/src/pages/home/index.tsx
  packages/client/src/store/slices/user-slice/thunks/change-theme-thunk/index.ts
  packages/client/src/store/slices/user-slice/thunks/retrieve-theme-thunk/index.ts
  packages/server/controllers/theme-controllers.ts
  packages/server/db.ts
  packages/server/models/theme-model.ts
  packages/server/routes/theme-route.ts
  packages/server/server.ts
Due: lint, prettier

controller fixed
  packages/server/controllers/theme-controllers.ts
Due: lint, prettier

retrieve theme thunk fixed
  packages/client/src/store/slices/user-slice/index.ts
Due: lint, prettier

change thunk and change controller fixed
  packages/client/src/pages/home/index.tsx
  packages/server/controllers/theme-controllers.ts
  packages/server/db.ts
  packages/server/routes/theme-route.ts
Due: lint, prettier

change thunk fixed
  packages/client/src/components/app/index.tsx
  packages/client/src/pages/forum-topic/index.tsx
  packages/client/src/pages/forum/index.tsx
  packages/client/src/pages/home/index.tsx
  packages/client/src/pages/leaderboard/index.tsx
  packages/client/src/store/slices/user-slice/index.ts
Due: lint, prettier

styles fixed
  packages/client/src/components/topic-components/TopicCommentMenu/TopicCommentMenu.tsx
  packages/client/src/components/topic-components/topic-text-field/styles.module.css
Due: lint, prettier

naming fixed
  packages/server/controllers/theme.ts
  packages/server/routes/theme-route.ts
Due: lint, prettier

styles fixed
  packages/client/src/components/topic-components/TopicCommentMenu/styles.module.css
Due: prettier

Path conditions:
  lint: any of: *.{ts,tsx}
  prettier: any of: *.{ts,tsx,css}
  test: any of: *.test.{ts,tsx}
