Repository tsharon-byte/28_mf_teamwork_01: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files}
    prettier:
      glob: '*.{ts,tsx,css}'
      run: yarn prettier -w {staged_files}
    typescript:
      run: npm run type-check:client
      stage_fixed: true
    test:
      glob: '*.test.{ts,tsx}'
      run: yarn test

reformated some files
  packages/client/src/hooks/use-user/index.ts
  packages/client/src/store/slices/comments-slice/thunks/create-comments-thunk/index.ts
Due: lint, prettier

removed error from topic creation modal and reply modal
  packages/client/src/components/forum-components/comments-reply-modal/index.tsx
  packages/client/src/components/forum-components/comments-reply-modal/types.ts
  packages/client/src/components/forum-components/create-topic-modal/index.tsx
  packages/client/src/components/forum-components/create-topic-modal/types.ts
  packages/client/src/components/topic-components/topic-comment-item/index.tsx
  packages/client/src/pages/forum/index.tsx
Due: lint, prettier

prettified some files
  packages/client/src/components/forum-components/comments-reply-modal/index.tsx
  packages/client/src/components/forum-components/create-topic-modal/index.tsx
Due: lint, prettier

fixed topic page reload bug
  packages/client/index.html
  packages/client/src/pages/forum-topic/index.tsx
Due: lint, prettier

added render no discussion component when no search results
  packages/client/src/components/forum-components/no-one-discussion/constants.ts
  packages/client/src/components/forum-components/no-one-discussion/index.tsx
  packages/client/src/components/forum-components/no-one-discussion/styles.module.css
  packages/client/src/components/forum-components/no-one-discussion/types.ts
  packages/client/src/pages/forum/index.tsx
Due: lint, prettier

prettyfied files
  packages/client/src/components/forum-components/no-one-discussion/constants.ts
  packages/client/src/components/forum-components/no-one-discussion/index.tsx
  packages/client/src/components/forum-components/no-one-discussion/styles.module.css
  packages/client/src/components/forum-components/no-one-discussion/types.ts
  packages/client/src/pages/forum/index.tsx
Due: lint, prettier

added route for page 404
  packages/client/src/components/app/index.tsx
Due: lint, prettier

fixed topic avatar styles
  packages/client/src/components/topic-components/topic-comment-list/index.tsx
  packages/client/src/components/topic-components/topic-comment-list/styles.module.css
Due: lint, prettier

Поправил переменные, добавил сборку nginx
  .github/workflows/build_and_push.yaml
  docker-compose.yml
  packages/client/.env.development
  packages/client/.env.production
Due: none

Поправил переменные
  docker-compose.yml
  nginx/conf/nginx.conf
  packages/client/.env.development
  packages/client/.env.production
Due: none

Добавил домен в env, добавил фал верификации
  .env.sample
  Dockerfile.ginx
  docker-compose.yml
  nginx/conf/nginx.conf
  nginx/validation/Fpp27LzEz0Uz3fsvY3UW_aZW3YXEf9ASBTB4nL3uRC0
  packages/client/.env.development
  packages/client/.env.production
Due: none

28-53: Эмодзи бэкенд
  packages/client/src/api/emoji-api/index.ts
  packages/client/src/api/emoji-api/type.d.ts
  packages/client/src/components/topic-components/TopicCommentMenu/TopicCommentMenu.tsx
  packages/client/src/components/topic-components/topic-comment-item/index.tsx
  packages/client/src/constants/urls.ts
  packages/client/src/store/slices/emoji-slice/thunks/get-emoji-list-thunk/index.ts
  packages/server/api/v1/controllers/commentsEmoji.ts
  packages/server/api/v1/controllers/emoji.ts
  packages/server/api/v1/controllers/theme.ts
  packages/server/api/v1/models/CommentEmoji.ts
  packages/server/api/v1/models/emoji.ts
  packages/server/api/v1/models/index.ts
  packages/server/api/v1/routers/comment.ts
  packages/server/api/v1/routers/emojiRoute.ts
  packages/server/api/v1/routers/theme-route.ts
  packages/server/api/v1/swagger/config.ts
  packages/server/db.ts
  packages/server/models/Emoji.ts
  packages/server/server.ts
Due: lint, prettier

Добавил SSl http2
  .gitignore
  docker-compose.yandex.yml
  docker-compose.yml
  nginx/conf/nginx.conf
Due: none

Добавил SSl http2
  nginx/conf/nginx.conf
Due: none

28-53: Эмодзи бэкенд
  packages/server/api/v1/controllers/commentsEmoji.ts
  packages/server/controllers/theme.ts
  packages/server/routes/theme-route.ts
Due: lint, prettier

28-53: Эмодзи бэкенд
  packages/client/src/components/topic-components/TopicCommentMenu/TopicCommentMenu.tsx
  packages/client/src/components/topic-components/topic-comment-item/index.tsx
Due: lint, prettier

Добавил SSl
  .gitignore
  docker-compose.yml
  etc/certs/fullchain.pem
  etc/certs/privkey.pem
  nginx/conf/nginx.conf
Due: none

Добавил SSl
  Dockerfile.ginx
Due: none

Добавил SSl
  Dockerfile.ginx
  nginx/conf/nginx.conf
  nginx/validation/Fpp27LzEz0Uz3fsvY3UW_aZW3YXEf9ASBTB4nL3uRC0
Due: none

Добавил SSl
  packages/client/.env.development
  packages/client/.env.production
Due: none

28-53: Эмодзи бэкенд
  packages/client/src/components/topic-components/topic-comment-item/index.tsx
  packages/client/src/components/topic-components/topic-comment-item/types.d.ts
Due: lint, prettier

28-53: Эмодзи бэкенд
  packages/client/src/components/topic-components/TopicCommentMenu/TopicCommentMenu.tsx
  packages/server/api/v1/controllers/commentsEmoji.ts
Due: lint, prettier

поправил env для dev и актуализировал docker-compose для yandex облака
  docker-compose.yandex.yml
  packages/client/.env.development
Due: none

поправил env для dev
  packages/client/.env.development
Due: none

prettified files
  packages/client/src/components/bomberman/index.tsx
  packages/client/src/game/constants.ts
  packages/client/src/game/enemies/balloom/constants.ts
  packages/client/src/game/enemies/balloom/index.ts
  packages/client/src/game/enemies/doll/constants.ts
  packages/client/src/game/enemies/doll/index.ts
  packages/client/src/game/enemies/enemy/helpers/create-enemy-sprites/index.ts
  packages/client/src/game/enemies/enemy/helpers/index.ts
  packages/client/src/game/enemies/enemy/helpers/no-collision/index.ts
  packages/client/src/game/enemies/enemy/helpers/random-enum-value/index.ts
  packages/client/src/game/enemies/enemy/helpers/random-in-range/index.ts
  packages/client/src/game/enemies/enemy/helpers/round-to-decimal/index.ts
  packages/client/src/game/enemies/enemy/index.ts
  packages/client/src/game/enemies/enemy/types.ts
  packages/client/src/game/enemies/index.ts
  packages/client/src/game/enemies/kondoria/constants.ts
  packages/client/src/game/enemies/kondoria/index.ts
  packages/client/src/game/enemies/minvo/constants.ts
  packages/client/src/game/enemies/minvo/index.ts
  packages/client/src/game/enemies/oneal/constants.ts
  packages/client/src/game/enemies/oneal/index.ts
  packages/client/src/game/enemies/ovapi/constants.ts
  packages/client/src/game/enemies/ovapi/index.ts
  packages/client/src/game/enemies/pass/constants.ts
  packages/client/src/game/enemies/pass/index.ts
  packages/client/src/game/enemies/pontan/constants.ts
  packages/client/src/game/enemies/pontan/index.ts
  packages/client/src/game/helpers/create-sprite/index.ts
  packages/client/src/game/helpers/create-sprite/types.ts
  packages/client/src/game/helpers/index.ts
  packages/client/src/game/types.ts
  packages/client/src/utils/animation/HeroSprite.ts
  packages/client/src/utils/animation/Sprite.test.ts
  packages/client/src/utils/animation/Sprite.ts
  packages/client/src/utils/animation/helpers.ts
Due: lint, prettier, test

CSP added
  packages/server/server.ts
Due: lint, prettier

removed extra files
  packages/client/public/img/enemies.png
  packages/client/public/img/enemies1.png
  packages/client/public/img/portal.png:Zone.Identifier
Due: none

CSP fixed
  packages/server/server.ts
Due: lint, prettier

Сделан кнопку старт не активной если игра уже запущена, т.к. иначе фокус остается на кнопке Старт и пробел запускает функцию старт заново
  packages/client/src/components/bomberman/index.tsx
Due: lint, prettier

Добавил логику завершения игры по истечению времени
  packages/client/src/components/bomberman/index.tsx
  packages/client/src/components/bomberman/progress-bar/index.tsx
  packages/client/src/components/bomberman/progress-bar/styles.module.css
  packages/client/src/components/bomberman/progress-bar/types.ts
  packages/client/src/utils/constants.ts
Due: lint, prettier

Добавил логику завершения игры по истечению времени
  packages/client/src/components/bomberman/index.tsx
Due: lint, prettier

Поправлена ошибка в консоле
  packages/client/src/components/bomberman/progress-bar/index.tsx
Due: lint, prettier

added enemy dead and kill logic
  packages/client/src/components/bomberman/index.tsx
  packages/client/src/game/characters/bomberman/constants.ts
  packages/client/src/game/characters/bomberman/index.ts
  packages/client/src/game/characters/index.ts
  packages/client/src/game/core/event-bus/index.ts
  packages/client/src/game/core/event-bus/types.ts
  packages/client/src/game/core/index.ts
  packages/client/src/game/core/vector/index.ts
  packages/client/src/game/enemies/enemy/index.ts
  packages/client/src/game/enemies/index.ts
  packages/client/src/game/enemies/pontan/constants.ts
  packages/client/src/game/index.ts
  packages/client/src/game/store/bomberman-slice.ts
  packages/client/src/game/store/index.ts
  packages/client/src/game/types.ts
  packages/client/src/utils/animation/HeroSprite.ts
  packages/client/src/utils/animation/HeroSpriteOptions.d.ts
  packages/client/src/utils/animation/Sprite.ts
  packages/client/src/utils/animation/SpriteOptions.d.ts
Due: lint, prettier

fixed tests
  packages/client/src/components/bomberman/index.tsx
  packages/client/src/game/characters/bomberman/index.ts
  packages/client/src/game/characters/index.ts
  packages/client/src/game/core/event-bus/index.ts
  packages/client/src/game/core/event-bus/types.ts
  packages/client/src/game/core/index.ts
  packages/client/src/game/core/vector/index.ts
  packages/client/src/game/enemies/enemy/index.ts
  packages/client/src/game/index.ts
  packages/client/src/game/store/bomberman-slice.ts
  packages/client/src/game/store/index.ts
  packages/client/src/utils/animation/HeroSprite.test.ts
  packages/client/src/utils/animation/HeroSprite.ts
  packages/client/src/utils/animation/Sprite.ts
  packages/client/src/utils/animation/helpers.test.ts
  packages/client/src/utils/animation/helpers.ts
Due: lint, prettier, test

prettified files
  packages/client/src/utils/animation/HeroSprite.test.ts
  packages/client/src/utils/animation/helpers.test.ts
  packages/client/src/utils/animation/helpers.ts
Due: lint, prettier, test
