Repository tsharon-byte/28_mf_teamwork_01: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files}
    prettier:
      glob: '*.{ts,tsx,css}'
      run: yarn prettier -w {staged_files}
    typescript:
      run: npm run type-check:client
      stage_fixed: true
    test:
      glob: '*.test.{ts,tsx}'
      run: yarn test

Спринт7-8: обновление ридми
  README.md
  init.js
Due: none

Спринт7-8: обновление ридми
  README.md
  init.js
  packages/client/src/hooks/use-music-player/index.ts
  packages/client/src/store/slices/emoji-slice/thunks/get-emoji-list-thunk/index.ts
Due: lint, prettier

Спринт7-8: обновление ридми
  README.md
Due: none

Добавление cookies после запросов
  packages/client/src/api/auth-api/index.ts
  packages/client/src/hooks/use-oauth/constants.ts
  packages/client/src/hooks/use-oauth/index.ts
  packages/client/src/store/slices/user-slice/thunks/retrieve-user-thunk/index.ts
Due: lint, prettier

Добавление cookies после запросов
  packages/server/server.ts
Due: lint, prettier

рефактор
  packages/client/.env.development
  packages/client/.env.production
  packages/client/src/api/auth-api/index.ts
  packages/client/src/hooks/use-oauth/index.ts
  packages/client/src/store/slices/user-slice/thunks/retrieve-user-thunk/index.ts
  packages/client/src/utils/http-transport.ts
Due: lint, prettier

Исправлено redirect_uri для production
  packages/client/.env.production
Due: none

comments removed db fixed container name added
  docker-compose.yml
  packages/server/db.ts
  packages/server/server.ts
Due: lint, prettier

styles fixed
  packages/client/src/components/profile-components/edit-text-field/index.tsx
  packages/client/src/components/profile-components/edit-text-field/styles.module.css
  packages/client/src/components/profile-components/profile-info/index.tsx
  packages/client/src/components/profile-components/profile-info/types.ts
  packages/client/src/components/sentence-button/index.tsx
  packages/client/src/components/topic-components/topic-comment-list/types.ts
  packages/client/src/components/yandex-login/index.tsx
  packages/client/src/components/yandex-login/styles.module.css
  packages/client/src/layouts/content-layout/types.ts
  packages/client/src/layouts/page-layout/types.ts
  packages/client/src/pages/home/index.tsx
  packages/client/src/pages/home/styles.module.css
  packages/client/src/pages/login/index.tsx
  packages/client/src/pages/profile/index.tsx
  packages/client/src/pages/registration/index.tsx
  packages/client/src/pages/registration/styles.module.css
  packages/client/src/store/slices/user-slice/index.ts
  packages/client/src/store/slices/user-slice/thunks/change-theme-thunk/index.ts
  packages/client/src/store/slices/user-slice/types.ts
  packages/client/src/themes/theme.ts
  packages/server/ssr/entry.server.tsx
Due: lint, prettier

colors fixed
  packages/client/src/components/profile-components/profile-info/index.tsx
Due: lint, prettier

tests added, swagger changed
  packages/client/src/components/profile-components/profile-info/index.tsx
  packages/server/api/v1/routers/theme.ts
  packages/server/api/v1/swagger/config.ts
  packages/server/controllers/theme.test.ts
Due: lint, prettier, test

discuss image fixed
  packages/client/src/assets/images/no-one-discussions-image-dark.svg
  packages/client/src/assets/images/no-one-discussions-image.svg
  packages/client/src/components/forum-components/forum-image/index.tsx
  packages/client/src/pages/forum/index.tsx
Due: lint, prettier

discuss image fixed
  packages/client/src/assets/images/no-one-discussions-image-dark.svg
Due: none

styles fixed
  packages/client/src/index.css
  packages/client/src/pages/home/styles.module.css
  packages/client/src/themes/theme.ts
Due: lint, prettier

theme controllers and styles fixed
  packages/client/src/index.css
  packages/client/src/pages/home/index.tsx
  packages/client/src/pages/home/styles.module.css
  packages/client/src/pages/leaderboard/styles.module.css
  packages/server/controllers/theme.ts
Due: lint, prettier

theme model fixed
  packages/server/models/theme-model.ts
Due: lint, prettier

Поправил сервер, поправил загрузку аватаров
  packages/client/.env.development
  packages/client/.env.production
  packages/client/src/api/auth-api/index.ts
  packages/client/src/components/topic-components/topic-comment-item/index.tsx
  packages/client/src/hooks/use-oauth/index.ts
  packages/client/src/pages/forum-topic/index.tsx
  packages/client/src/store/slices/user-slice/index.ts
  packages/client/src/store/slices/user-slice/thunks/retrieve-user-thunk/index.ts
  packages/client/src/store/slices/user-slice/types.ts
  packages/client/src/utils/http-transport.ts
  packages/server/server.ts
Due: lint, prettier

Поправил сервер, поправил загрузку аватаров
  packages/client/src/components/topic-components/topic-comment-item/index.tsx
Due: lint, prettier

Добавил проверку на пустые поля у форм
  packages/client/src/components/forum-components/comments-reply-modal/index.tsx
  packages/client/src/components/forum-components/comments-reply-modal/types.ts
  packages/client/src/components/forum-components/create-topic-modal/index.tsx
Due: lint, prettier

Добавил проверку на пустые поля у форм
  packages/client/src/components/topic-components/topic-comment-item/index.tsx
Due: lint, prettier

image type added
  packages/client/src/components/forum-components/forum-image/types.ts
Due: lint, prettier

URL авторизации в env
  .env.sample
Due: none

docker compose fixed
  docker-compose.yml
Due: none

Вывод ошибки в форме reply
  packages/client/src/components/forum-components/comments-reply-modal/index.tsx
  packages/client/src/components/forum-components/comments-reply-modal/types.ts
  packages/client/src/components/forum-components/create-topic-modal/index.tsx
  packages/client/src/components/topic-components/topic-comment-item/index.tsx
  packages/client/src/pages/forum/index.tsx
Due: lint, prettier

db and theme controller fixed
  docker-compose.yml
  packages/server/controllers/theme.ts
  packages/server/db.ts
Due: lint, prettier

theme tests removed
  packages/server/controllers/theme.test.ts
Due: lint, prettier, test

useTheme added, controllers and model fixed, refactored
  .env.sample
  packages/client/src/components/app/index.tsx
  packages/client/src/components/forum-components/forum-image/types.ts
  packages/client/src/components/profile-components/profile-info/types.ts
  packages/client/src/components/topic-components/topic-comment-list/index.tsx
  packages/client/src/components/topic-components/topic-comment-list/types.ts
  packages/client/src/hooks/use-theme/index.ts
  packages/client/src/layouts/content-layout/index.tsx
  packages/client/src/layouts/content-layout/types.ts
  packages/client/src/layouts/page-layout/index.tsx
  packages/client/src/layouts/page-layout/types.ts
  packages/client/src/pages/forum-topic/index.tsx
  packages/client/src/pages/forum/index.tsx
  packages/client/src/pages/home/index.tsx
  packages/client/src/pages/leaderboard/index.tsx
  packages/client/src/pages/profile/index.tsx
  packages/client/src/store/slices/user-slice/index.ts
  packages/client/src/store/slices/user-slice/thunks/change-theme-thunk/index.ts
  packages/client/src/store/slices/user-slice/thunks/retrieve-theme-thunk/index.ts
  packages/client/src/store/slices/user-slice/types.ts
  packages/client/src/themes/theme.ts
  packages/server/api/v1/swagger/config.ts
  packages/server/controllers/theme.ts
  packages/server/db.ts
  packages/server/models/theme-model.ts
  packages/server/tsconfig.json
Due: lint, prettier

mode var removed
  packages/client/src/components/forum-components/forum-image/index.tsx
  packages/client/src/components/profile-components/profile-info/index.tsx
  packages/client/src/layouts/page-layout/index.tsx
Due: lint, prettier

theme create fixed
  packages/client/src/hooks/use-theme/index.ts
  packages/server/db.ts
Due: lint, prettier

theme controller fixed useTheme fixed
  packages/client/src/components/app/index.tsx
  packages/client/src/hooks/use-theme/index.ts
  packages/server/controllers/theme.ts
Due: lint, prettier

theme controller and slice fixed
  packages/client/src/store/slices/user-slice/index.ts
  packages/client/src/store/slices/user-slice/types.ts
  packages/server/controllers/theme.ts
Due: lint, prettier

slice fixed
  packages/client/src/store/slices/user-slice/index.ts
Due: lint, prettier

slice and controller fixed
  packages/client/src/store/slices/user-slice/thunks/retrieve-theme-thunk/index.ts
  packages/server/controllers/theme.ts
Due: lint, prettier

route and controller fixed
  packages/server/controllers/theme.ts
  packages/server/routes/theme-route.ts
Due: lint, prettier

useTheme imports fixed
  packages/client/src/components/app/index.tsx
  packages/client/src/hooks/index.ts
  packages/client/src/hooks/use-theme/index.ts
  packages/client/src/pages/forum-topic/index.tsx
  packages/client/src/pages/forum/index.tsx
  packages/client/src/pages/home/index.tsx
  packages/client/src/pages/leaderboard/index.tsx
  packages/client/src/pages/profile/index.tsx
  packages/client/src/store/slices/user-slice/thunks/retrieve-theme-thunk/index.ts
Due: lint, prettier

controllers, routes and userSlice fixed
  packages/client/src/hooks/use-theme/index.ts
  packages/client/src/store/slices/user-slice/index.ts
  packages/client/src/store/slices/user-slice/thunks/retrieve-theme-thunk/index.ts
  packages/server/controllers/theme.ts
  packages/server/routes/theme-route.ts
Due: lint, prettier

Поправил ошибку записи описания в бд
  packages/client/src/pages/forum/index.tsx
Due: lint, prettier

Поправлена валидация email если домен 3 уровня
  packages/client/src/validation-rules/email-validation-rule/index.ts
Due: lint, prettier

Исправлена ошибка в валидации пароля
  packages/client/src/validation-rules/password-validation-rule/index.ts
Due: lint, prettier

Поправил вывод ошибки в модальной форме отправки сообщения и коммента
  packages/client/src/components/topic-components/topic-comment-item/index.tsx
  packages/client/src/pages/forum/index.tsx
  packages/client/src/store/slices/comments-slice/actions/index.ts
  packages/client/src/store/slices/comments-slice/index.ts
  packages/client/src/store/slices/forum-slice/actions/index.ts
  packages/client/src/store/slices/forum-slice/index.ts
Due: lint, prettier
